.single-image {
    width: 120px;
    height: 100px;
    display: inline;
    padding: 10px;
}

#loader {
    display: none;
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 102, 102, 0.66);;
    z-index: 30001;
    opacity: 0.8;
}

.category-title {
    color: green;
    font-weight: 500;
}

.empty-content {
    color: darkred;
    margin-left: 25px;
}
.iframe iframe {
    width: 250px;
    height: 130px;
}

.checkbox-inline {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px; /* Adjust the vertical alignment if needed */

}
.checkbox-inline label{
    margin-right: 10px;

}

.select2-selection__choice
{
    color: black !important;
}
